{% extends 'auth/base.html' %}

{% block title %} Log in {% endblock %}

{% block content %}
    <!--? request.path vs request.GET.next-->
    <form action="{% url 'login' %}?next={{ request.GET.next }}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Passwrod" required>
        <button type="submit">Login</button>
    </form>
    <p><a href="{% url 'guest_login' %}?next={{ request.GET.next }}">Continue as Guest</a></p>
    <p>Don't have an account? <a href="{% url 'signup' %}?next={{ request.GET.next }}">Sign up here</a></p>
{% endblock %}