{% extends "blog/base.html" %}

{% block title %}
{{article.title}}
{% endblock %}

{% block content %}
    <article>
        <h1>{{article.title}}</h1>
        <p class="article-date">Published on: {{article.date_published}}</p>
        <p>{{article.content}}</p>
        <section class="comment-section">
            <h3>Comments</h3>
            <div id="new-comment">
                <!-- ? how this user object will be maintained in Django-->
                {% if request.user.is_authenticated %}
                <!-- ? do we need to  execute article.id or inside url template tag-->
                <form action="{% url 'blog:add_comment' article.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="text" placeholder="Add your comment here..."></textarea>
                    <button type="submit"> Comment</button>
                </form>
                {% else %}
                <p><a href="{% url 'user:login' %}?next={{ request.path }}">Log in</a> or <a href="{% url 'user:signup' %}?next={{ request.path }}">Sign up</a> to leave a comment</p>
                <p>Or <a href="{% url 'blog:guest_login' %}?next={{ request.path }}">Continue as a guest</a></p>
                {% endif %}
            </div>
            
            <div class="old-comments">
                    {% for comment in comments %}
                    <div class="comment">
                        <p><strong>{{comment.user}}</strong> <span class="date"><i>{{comment.date}}</i></span></p>
                        <p>{{comment.text}}</p>
                        <!-- <p>{{comment.likes_count}} Likes | {{comment.dislikes_count}} Dislikes</p> -->
                        <div class="comment-options">
                            <form action="{% url 'blog:handle_like' comment.id %}?next={{request.path}}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button class="comment-like-button" type="submit">{{comment.likes_count}} Likes</button>
                            </form>
                            <form action="{% url 'blog:handle_dislike' comment.id %}?next={{request.path}}" method="post" style="display: inline">
                                {% csrf_token %}
                                <button class="comment-dislike-button" type="submit">{{comment.dislikes_count}} Dislikes</button>
                            </form>
                            <button class="reply-btn" data-comment-id="{{ comment.id }}">Reply</button>
                            <div class="reply-form-container" id="reply-form-{{ comment.id }}" style="display: none;">
                                <form id="reply-form" action="{% url 'blog:handle_reply' comment.id %}?next={{request.path}}" method="post">
                                    {% csrf_token %}
                                    <textarea name="text" placeholder="Reply to this comment"></textarea>
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="comment-replies">
                            {% if comment.replies.all %}
                            <ul>
                                {% for reply in comment.replies.all %}
                                <li>
                                    <p><strong>{{reply.user}}</strong> <span class="date"> <i>{{reply.date}}</i></span></p>
                                    <p>{{reply.text}}</p>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </section>
    </article>

    
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const replyButtons = document.querySelectorAll('.reply-btn');
            console.log(replyButtons);
            
            replyButtons.forEach(button => {
                button.addEventListener('click', function(){
                    const commentId = this.getAttribute('data-comment-id');
                    const replyForm = document.getElementById(`reply-form-${commentId}`);
                    console.log(replyForm);
                    if(replyForm.style.display === 'none'){
                        replyForm.style.display = 'block';
                    }
                    else{
                        replyForm.style.display = 'none';
                    }
                });
            });
        });
    </script>
{% endblock %}
