{% load static %}

<html>
<head>
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <h1 id="app-name">Sye Blog</h1>
        <span>
            {% if request.user.is_authenticated %}
            <span>Hello, {{request.user}}</span><br>
            <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
            {% endif %}
        </span>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>@Syecence</footer>
</body>
</html>