{% load static %}

<html>
<head>
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'blog:home' %}">Home</a>
        <h1 id="app-name">Sye Blog</h1>
        <span>
            {% if request.user.is_authenticated %}
                <span>Hello, {{request.user}}</span><br>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'blog:dashboard' %}?next={{ request.path }}">Admin Dashboard</a><br>
                    {% endif %}
                <a href="{% url 'user:logout' %}?next={{ request.path }}">Logout</a>
            {% else %}
                <a href="{% url 'user:login' %}?next={{ request.path }}">Login</a> \
                <a href="{% url 'user:signup' %}?next={{ request.path }}">Sign up</a>
            {% endif %}
        </span>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>@Syecence</footer>
</body>
</html>