{% extends 'blog/base.html' %}

{% block content %}
    <h1>Articles</h1>
    <ul>
        <li>
            <a href="{% url 'add_article' %}">Add a new article</a>
        </li>
        {% for article in articles %}
        <li>
            <h2>{{article.title}}</h2>
            <p>{{article.content|truncatewords:20}}</p>
            <P>{{article.date_published}}</P>
            <a href="{% url 'article_detail' article.id %}">Show</a>
            <a href="{% url 'edit_article' article.id %}">Edit</a>
            <a href="{% url 'delete_article' article.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}